<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <%= image_tag "svit_logo.png", class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase smaller">
        <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "About Us", about_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Admission", acadamic_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Departments
            </a>
            <ul class="dropdown-menu ">

                <li>
                <%= link_to "CIVIL", department_index_path, class: "dropdown-item text-center fw-bold" %>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                <%= link_to "EEE", department_index_path, class: "dropdown-item text-center fw-bold" %>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                <%= link_to "MECH", department_index_path, class: "dropdown-item text-center fw-bold" %>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                <%= link_to "ECE", department_index_path, class: "dropdown-item text-center fw-bold" %>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                <%= link_to "CSE", department_index_path, class: "dropdown-item text-center fw-bold" %>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                <%= link_to "CSE-DS", department_index_path, class: "dropdown-item text-center fw-bold" %>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                <%= link_to "CSE-AI", department_index_path, class: "dropdown-item text-center fw-bold" %>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                <%= link_to "H&S", department_index_path, class: "dropdown-item text-center fw-bold" %>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Campus life
            </a>
            <ul class="dropdown-menu ">
                <li>
                    <%= link_to "Fest", campus_index_path, class: "dropdown-item text-center fw-bold" %>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <%= link_to "Student Chapters", campus_index_path, class: "dropdown-item text-center fw-bold" %>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <%= link_to "Faculties", campus_index_path, class: "dropdown-item text-center fw-bold" %>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <%= link_to "Exta curriculum", campus_index_path, class: "dropdown-item text-center fw-bold" %>
                </li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Placements
            </a>
            <ul class="dropdown-menu ">
                <li>
                    <%= link_to "Track Record", placement_index_path, class: "dropdown-item text-center fw-bold" %>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <%= link_to "recruiters", placement_index_path, class: "dropdown-item text-center fw-bold" %>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <%= link_to "Activity cell", activity_cell_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "nirf", nirf_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Press & Media", press_and_media_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<script>
    
$('ul.navbar-nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
  }, function() {
      $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});

</script>